// - Pale Blue: hsl(243, 100%, 93%)
$pale-blue: hsl(243, 100%, 93%);

// - Grayish Blue: hsl(229, 7%, 55%)
$gray-blue: hsl(229, 7%, 55%);

// - Dark Blue: hsl(228, 56%, 26%)
$dark-blue: hsl(228, 56%, 26%);

// - Very Dark Blue: hsl(229, 57%, 11%)
$very-dark-blue: hsl(229, 57%, 11%);