* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background: #0c122c;
  display: grid;
  place-items: center;
  opacity: 1;
}

body .svg-container {
  position: absolute;
  z-index: -1;
  width: 100vw;
  bottom: 0;
}

body .center {
  height: 300px;
  width: 1225px;
  background: red;
}

body .center .container {
  background: deepskyblue;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

body .center .container .left {
  height: 100%;
  width: 38%;
  background: orange;
  border-radius: 10px;
  border-top-right-radius: 140px;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

body .center .container .left .top {
  height: 50%;
  background: green;
  display: flex;
  align-items: center;
}

body .center .container .left .top .logo-container {
  background: darkorchid;
}

body .center .container .left .bottom {
  height: 50%;
  background: blue;
  display: flex;
  align-items: center;
}

body .center .container .left .bottom .icon-container {
  background: darkorchid;
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body .center .container .left .bottom .icon-container .icon-box {
  background: #0c122c;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

body .center .container .right {
  height: 76%;
  width: 59%;
  background: deeppink;
  border-radius: 10px;
}
